{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <ul class="nav nav-tabs">
                <li><a href="{% url 'tracker:tasks-list' %}">
                    <span class="glyphicon glyphicon-chevron-left"></span>Назад
                </a></li>
            </ul>
        </div>
        <div class="row">
                <div class="col-md-4">
                    <p><b>{{ task.name }}</b></p>
                </div>
                <div class="col-md-1">
                    <a href="{% url 'tracker:task-update' pk=user.id %}"><span class="glyphicon glyphicon-refresh"></span></a>
                    <a href="{% url 'tracker:task-delete' pk=user.id %}"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
        </div>
        <div class="row">
            <p>{{ task.description }}</p>
        </div>
        <div class="row">
            {% if task.user %}
                <p>Исполняющий: {{ task.user }}</p>
            {% endif %}
            {% if task.checking_user %}
                <p>Проверяющий: {{ task.checking_user }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}