{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% for task in tasks %}
            <a href="{% url 'tracker:task-detail' pk=task.id %}"><b>{{ task.name }}</b></a>
                {% if task.user %}
                    <p>На задачу назначен: {{ task.user }}</p>
                {% else %}
                    <p>На задачу никто не назначен</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}