{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <ul>
                {% for user in users %}
                    <div class="col-md-8">
                        <a href="{% url 'tracker:user-detail' pk=user.id %}">{{ user.name }} ({{ user.position }})</a>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}