<div class="container-fluid">
    <div class="hidden-panel row" id="hidden-panel">
        <form id="city_form" data-url="{% url 'tracker:user-create' pk=user.id%}">
            <div class="col-xs-2">
                <span class="input-sm">Имя</span>
                <input type="text" class="form-control input-sm" id="name" name="name" value="">
            </div>
            <div class="col-xs-2">
                <span class="input-sm" >Дожность</span>
                <input type="text" class="form-control input-sm" id="position" name="position" value="">
            </div>
            <div class="col-xs-2">
                {% csrf_token %}
                <input type="button" id="create_user" class="btn btn-secondary btn-block" value="Добавить">
            </div>
        </form>
    </div>
</div>