{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <ul class="nav nav-tabs">
                <li><a href="{% url 'tracker:users-list' %}">
                    <span class="glyphicon glyphicon-chevron-left"></span>Назад
                </a></li>
            </ul>
        </div>
        <div class="row">
            <ul>
                <div class="col-md-4">
                    <p>{{ user.name }} ({{ user.position }})</p>
                </div>
                <div class="col-md-1">
                    <a href="{% url 'tracker:user-update' pk=user.id %}"><span class="glyphicon glyphicon-refresh"></span></a>
                    <a href="{% url 'tracker:user-delete' pk=user.id %}"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5><b>Задачи:</b></h5>
                {% for task in tasks %}
                    <a href="{% url 'tracker:task-detail' pk=task.id %}">{{ task.name }}</a>
                    {% if task.checking_user %}
                        <p><small>Проверяющий: {{ task.checking_user }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}