{% load staticfiles %}
{% load bootstrap3 %}

<head>
    <meta charset="UTF-8">
    <title>Трекер задач</title>

    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}

</head>