{% load staticfiles %}
{% load bootstrap3 %}

<header>

    <div class="menu">
        <ul class="nav nav-pills nav-justified navbar-inverse">
            <li id="users"><a href="{% url 'tracker:users-list' %}"><b>Пользователи</b></a></li>
            <li id="tasks"><a href="{% url 'tracker:tasks-list' %}"><b>Задачи</b></a></li>
        </ul>
    </div>

</header>